@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--Primary);
  --color-warning: var(--Warning);
  --color-gray-800: var(--Gray800);
  --color-white: var(--white);
  --color-gray-600: var(--Grey600);
  --color-grey-100: var(--Grey100);
}

:root {
  --Primary:#FFB30E;
  --Warning:#F17228;
  --white:#FFFFFF;
  --Gray800:#424242;

  --Grey600:#504F4F;
  --Grey100:#F5F5F5;
}

.dark {
  --Primary:#FFB30E;
  --Warning:#F17228;
  --Gray800:#424242;
  --white:#FFFFFF;
  --Grey600:#504F4F;
  --Grey100:#F5F5F5;
}


/* font sizes */
.text-31{
  @apply text-[29px] sm:text-[31px];
}
.text-18{
  @apply text-[16px] sm:text-[18px];
}
.text-88{
  @apply text-[85px] sm:text-[88px];
}
.text-22{
  @apply text-[20px] sm:text-[22px];
}