@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--Primary);
  --color-warning: var(--Warning);
}

:root {
  --Primary:#FFB30E;
  --Warning:#F17228;
}

.dark {
  --Primary:#FFB30E;
  --Warning:#F17228;

}


/* font sizes */
.text-31{
  @apply text-[29px] sm:text-[31px];
}