@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--Primary);
  --color-warning: var(--Warning);
  --color-gray-800: var(--Gray800);
  --color-white: var(--white);
  --color-gray-600: var(--Grey600);
  --color-grey-100: var(--Grey100);
  --color-hero-yellow: var(--HeroYellow);
  --color-muted-text: var(--MutedText);
  --color-cta-orange: var(--CtaOrange);
  --color-cta-red: var(--CtaRed);
  --color-shadow-yellow: var(--ShadowYellow);
  --color-grey-500: var(--Grey500);
  --color-gray-900: var(--Gray900);
  --color-success: var(--Success)
  --font-sansfont: "sansfont", sans-serif;
}

:root {
  --Primary:#FFB30E;
  --Warning:#F17228;
  --white:#FFFFFF;
  --Gray800:#424242;
  --Grey600:#757575;
  --Grey100:#F5F5F5;
  --HeroYellow:#FFCA0B;
  --MutedText:#504F4F;
  --CtaOrange:#F65900;
  --CtaRed:#FF7A7A;
  --ShadowYellow:#FFAE0042;
  --Success:#79B93C;
  --Gray900:#212121;
  --Grey500:#9E9E9E;
}

.dark {
  --Primary:#FFB30E;
  --Warning:#F17228;
  --Gray800:#424242;
  --Gray900:#212121;
  --white:#FFFFFF;
  --Grey600:#757575;
  --Grey500:#9E9E9E;
  --Grey100:#F5F5F5;
  --HeroYellow:#FFCA0B;
  --MutedText:#504F4F;
  --CtaOrange:#F65900;
  --CtaRed:#FF7A7A;
  
  --Success:#79B93C;
  --ShadowYellow:#FFAE0042;
}


/* font sizes */
.text-31{
  @apply text-[29px] sm:text-[31px];
}
.text-18{
  @apply text-[16px] sm:text-[18px];
}

.text-22{
  @apply text-[20px] sm:text-[22px];
}

.text-35{
  @apply text-[33px] sm:text-[35px];
}

.text-43{
  @apply text-[40px] sm:text-[43px];
}
.text-68{
  @apply text-[66px] sm:text-[68px];
}.text-88{
  @apply text-[88px] sm:text-[88px];

}


@font-face {
  font-family: "sansfont";
  src: url("/fonts/source-sans-pro.regular.ttf") format("truetype");
  font-weight: semibold;
}
@font-face {
  font-family: "sansfont";
  src: url("/fonts/source-sans-pro.bold.ttf") format("truetype");
  font-weight: bold;
}